{% extends 'base.html.twig' %}

{% block body %}
    <div class="row taskEditForm">
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
        {{ form_widget(form) }}

        {% set user = task.user == false ? 'Anonyme' : task.user.username  %}
        <p><em>Crée par {{ user }}</em></p>

        <button type="submit" class="btn btn-success pull-left">Modifier</button>
        <a href="{{ path('homepage') }}" class="btn btn-primary pull-right">Retour à la gestion tâches</a>

        {{ form_end(form) }}
    </div>
{% endblock %}
